extends layout

block content
  .page-header
    h1
      small Pair Columbus
      br
      a(href='/') Challenge Progress
  form(action='/', role='form')
    span#form-help.help-block Choose a user to check progress.
    .form-group
      .input-group
        input.form-control(name='user', placeholder='user', aria-describedby='form-help', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Check')
  hr
  if results
    h2
      a(href='https://github.com/' + user)= user
    p #{completed} of #{total} challenges completed
    for category in results
      .panel.panel-default
        .panel-heading
          h3.panel-title= category.category
        .panel-body!= markdown.toHTML(category.description)
        ul.list-group
          for result in category.challenges
            li.list-group-item(class='text-' + (result.complete ? 'success' : 'danger'))
              span.glyphicon.icon-column(class='glyphicon-' + (result.complete ? 'ok' : 'remove'))
              a(href='https://github.com/paircolumbus/' + result.challenge)= result.challenge
  else
    h2 Scoreboard
    p #{total} challenges total
    .table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th #
            th User
            th Completed
        tbody
          for user, index in users
            tr
              th= index + 1
              td
                a(href='/' + user.name)= user.name
              td= user.completed
  footer
    hr
    p
      | © 2015 Nicolas McCurdy
      br
      a(href='https://github.com/paircolumbus/progress') Fork me on GitHub
